@import "../base/fonts";

$mSemiBold: "Montserrat-SemiBold";
$mExtraBold: "Montserrat-ExtraBold";
$mMedium: "Montserrat-Medium";
$mBold: "Montserrat-Bold";
$gLight: "Gilroy-Light";
$ggnoveSemiBold: "GillSansNova-SemiBold";
$ggnoveSemilight: "GillSansNova-Light";
